/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";
@import url("https://fonts.googleapis.com/css?family=Graduate&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Ubuntu:400,500,700&display=swap&subset=latin-ext");

body {
  font-family: "Graduate", cursive;
  background-color: lightgray;
  background-image: url(bc-image.jpeg);
  background-size: cover;
}

.content,
.table,
.td,
.tr {
  font-family: "Graduate", cursive;
}

.btn.btn-primary.login {
  background-color: #4caf50;
  border-color: #4caf50;
}

.btn.btn-primary.login:hover {
  background-color: lightgreen;
  border-color: lightgreen;
}

label.game {
  color: black;
}

td.color {
  color: black;
}

footer {
  margin-left: 10px;
  color: orange;
  width: 100%;
  font-weight: bold;
  padding-top: 10px;
}

.content2nd.footer {
  margin-left: 315px;
  background-color: rgba(22, 19, 19, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: somevalue;
}

h1.event.start.margin {
  margin-left: 300px;
}

h1.event.start.margin {
  margin-left: 300px;
}

form-group.name {
  text-align: center;
  float: center;
}

.btn-link {
  font-size: 30px;
}

.collapse.show {
  text-align: left;
}

card-event {
  background-color: rgba(255, 255, 255, 0.5);
}

.card-header {
  background: rgba(255, 255, 255, 0.5) !important;
  height: 100px;
  justify-content: center;
  // margin-bottom: 30px;
}

button.btn.btn-link.collapsed {
  color: black;
  margin-bottom: 20px;
}

.btn.btn-link.collapsed.przycisk {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #4caf50;
  border-color: #4caf50;
  border-radius: 10px;
  font-size: 30px;
  margin-bottom: 0px;
}
.btn.btn-link.collapsed.przycisk:hover {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgreen;
  border-color: lightgreen;
  border-radius: 10px;
  border-width: 2px;
  font-size: 30px;
  margin-bottom: 0px;
}

.btn.btn-link.collapsed.przycisk:active {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #4caf50;
  border-color: #4caf50;
  border-radius: 10px;
  font-size: 30px;
  margin-bottom: 0px;
}
.btn.btn-link.collapsed.przycisk:hover::focus {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgreen;
  border-color: lightgreen;
  border-radius: 10px;
  border-width: 2px;
  font-size: 30px;
  margin-bottom: 0px;
}

h5.mb-0.listka {
  margin-bottom: 0.5rem;
}

.p.break {
  color: transparent;
  height: 0.5rem;
}

label {
  font-size: 30px;
}

h5.mb-0 {
  height: 60px;

  margin-bottom: 10px;
  font-size: 1.5rem;
  //   // background-color: rgba(100, 100, 100, 0.5);
}

.content {
  font-family: "Graduate", cursive;
}

h1.player,
h1.event {
  font-size: 60px;
  color: white;
}

btn.btn-outline-primary {
  color: white;
  background-color: white;
}

.col-md-3 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  // max-width: 100%;
  text-align: center;
  justify-content: center;
}

.new_player {
  justify-content: center;
}

.form-control.col-md-3.control-label {
  justify-content: center;
  width: 300px;
}

.form-control.col-md-3.control-label.player {
  justify-content: center;
  width: 30%;
}

.field {
  justify-content: center;
}

.form-group {
  text-align: -moz-center;
}

.input-group.date {
  text-align: center;
}

.form-control.datetimepicker-input {
  background-color: rgba(255, 255, 255, 0.5);
  width: 150px;
}

.baczek {
  display: block;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.form-control.datetimepicker-input {
  background-color: rgba(255, 255, 255, 0.5);
  width: 170px;
}

.baczekClose {
  display: block;
  background-color: #fb7171; /* Green */
  border: none;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.input-group {
  width: 110%;
  margin-left: 42%;
}

.submit {
  background-color: red;
  border-color: red;
  border-radius: 20%;
  font-size: 15px;
}

.form-control {
  width: 240px;
  background-color: rgba(255, 255, 255, 0.5);
}

td.date1.ls,
td.date.ls {
  background-color: rgba(22, 19, 19, 0.5);
}

td.date1.ls:hover,
td.date.ls:hover {
  color: white;
}
