.TopToolBar.btn.btn-success {
    margin-right: 10px;
    height: max-content;
}

.TopToolBar.btn.btn-danger {
    margin-right: 10px;
    height: max-content;
}

.form-group.d-flex.flex-row {
    margin-top: 10px;
}

.servName {
    margin-right: 1rem;
}