body,
html,
.view {
    min-height: 100vh;
}

.bg {
    background-image: url('football-field.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.event.start{
    text-align: center;
    font-size: 77px;
}

h2.login{
    font-size: 50px;
}

h1.imageski{
    background-color:rgba(255,255,255,0.5);
    text-align: center;
    margin-top: 40px;
    // border-radius: 25%;
    // margin-left: 10px;
    // margin-right: 10px;
    // width: 70%;
}

.login.start{
    text-align: center;
}

.form-group.login{
    font-size: 30px;
}

#access {

    #access.card {
        // background-color: #444422;
        background-color:rgba(255,255,255,0.5);
        color: white;
        border: 4px solid #33331a;
        padding: 10px;
        border-radius: 25px;
        min-width: 400px;
        // opacity: 0.7;
    }

    #access.links {
        font-weight: bold;
    }

    #access.links:hover {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    #access.d-flex.justify-content-center {
        padding-top: 5%;
    }

}