#sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  // background-color: grey;
  background: rgba(22, 19, 19, 0.5);
  color: white;
}

/* Sidebar links */
#sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

/* Active/current link */
#sidebar a.active {
  background-color: #4caf50;
  color: white;
}

/* Links on mouse-over */
#sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
#sidebar h3 {
  height: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 65px;
  border-right: 10px;
  border-left: 10px;
  border-color: white;
  font-weight: bold;
}
#sidebar h4 {
  height: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 55px;
  border-right: 10px;
  border-left: 10px;
  border-color: white;
  font-weight: bold;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  text-align: center;
  margin-left: 300px;
  padding: 1px 16px;
  height: 100%;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  #sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}
